/* =============
    Base
============= */
.large-images{
    width: 100%;
}
.header-footer-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header-footer .";
    >div{
        grid-area: header-footer;
    }
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}