/* =============
    Hero
============= */
#hero {
  h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    @include lg{
      font-style: 25px;
    }
  }
  a{
    font-weight: 700;
    font-size: 18px;
    line-height: 25;
  }
  img {
    font-size: 0;
    display: block;
  }
  h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    >span{
      font-weight: 600;
    }
  }

  #hero-options {
    @include md {
      display: grid;
      grid-template-columns: 40% auto;
    }

    @include lg {
      grid-template-columns: 50% auto;
    }

    .hero-bottom-card {
      display: grid;
      grid-template-columns: 16px auto 16px;
      grid-template-areas: ". hero-sub .";
      padding: 16px 0;

      >div {
        grid-area: hero-sub;
        display: flex;
        align-items: center;

        aside {
          margin-left: auto;

          a {
            display: flex;
          }
        }
      }
    }

    #hero-bottom-left {
      background-color: var(--bluewhite);
      @include xxl {
        grid-template-columns: 20% auto 16px;
      }


      a {
        color: var(--black);
      }
    }

    #hero-bottom-right {
      background-color: var(--gatxblue);
      color: var(--white);

      @include xxl {
        grid-template-columns: 16px auto 20%;
      }

      a {
        color: var(--white)
      }
    }
  }
}