/* =============
    Hero
============= */
#hero {
  section {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    grid-template-areas: ". hero-sub .";
    > div {
      grid-area: hero-sub;
      display: grid;
      grid-template-columns: 85% 15%;
      grid-template-areas: "textx arrow";
      > h1 {
        grid-area: textx;
      }
      >h3 {
        grid-area: textx;
      }
      > a {
        grid-area: arrow;
      }
    }
  }

  #hero-options {
    display: grid;
    @include md {
      grid-template-columns: 40% 60%;
      grid-template-areas: "section";
      > div {
        grid-area: section;
      }
    }
    @include lg {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "section";
      > div {
        grid-area: section;
      }
    }
  }
}

.location-price {
  background-color: #143b68;
}
