/* =============
    Services
============= */
#services {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". services .";
    > div {
      grid-area: services;
    }
  
  }