/* =============
    Services
============= */
#services {
  @include md {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". services .";
  }

  @include xxl {
    grid-template-columns: auto 1200px auto;
  }

  > div {
    display: grid;
    gap: 16px;

    @include md {
      grid-area: services;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "NT NT NT NT"
        "S1 S1 S2 S2"
        "S3 S3 S4 S4"
        ".. S5 S5 ..";
    }

    @include lg {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "NT NT NT NT NT NT"
        "S1 S1 S2 S2 S3 S3"
        ".. S4 S4 S5 S5 ..";
    }

    h1 {
      @include md {
        grid-area: NT;
      }
    }

    section {
      img {
        width: 100%;
        font-size: 0;
        display: block;
      }

      .card-data {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". card-data .";
        background-color: #f8f9fa;
        padding: 16px 0;
        box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);
        > div {
          grid-area: card-data;
        }
      }
    }
    #S1 {
      @include md {
        grid-area: S1;
      }
    }

    #S2 {
      @include md {
        grid-area: S2;
      }
    }

    #S3 {
      @include md {
        grid-area: S3;
      }
    }

    #S4 {
      @include md {
        grid-area: S4;
      }
    }

    #S5 {
      @include md {
        grid-area: S5;
      }
    }
  }
}
