/* =============
    Sub-Hero
============= */

#subhero {
  h1{
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    @include md{
      font-size: 29px;
      line-height: 35px;
    }
    @include lg{
      font-size: 31px;
      line-height: 30px;
    }
  }

  @include md {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". sub-hero-cards .";

    @include xxl {
      grid-template-columns: auto 1200px auto;
    }
  }

  >div {
    display: grid;
    gap: 16px;

    @include md {
      grid-area: sub-hero-cards;
      grid-template-columns: 50% auto;
    }

    .subhero-card {
      padding: 16px;
      color: var(--black);
      display: flex;
      align-items: center;
      box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.296793);
      background-color: #e0dfd5;

      >aside>img {
        border: 5px solid var(--white);
      }
    }
  }
}