/* =============
    Footer
============= */
footer {
    h1{
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
    }
    h2{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    address, a{
        color: white;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--gatxblue);
    color: var(--white);
    padding: 24px 0;

    @include xxl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: footer;

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
                "locations newsletter"
                "locations socials";
            gap: 16px;
        }

        @include lg {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "locations newsletter socials";
        }

        #locations {
            @include md {
                grid-area: locations;
            }

            h1 {
                color: var(--white);
            }

            section {
                display: flex;

                i {
                    font-size: rem-calc(20);
                    margin-right: 16px;
                }
            }
        }

        #newsletter {
            @include md {
                grid-area: newsletter;
            }

            form {
                input {
                    width: 100%;
                    border-radius: 0;
                    border: none;
                    box-sizing: border-box;
                    padding: 16px 8px;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                    color: var(--gatxblue);
                }

                div{
                    text-align: right;
                    button{
                        margin-top: 16px;
                        border: none;
                    }
                }
            }
        }

        #socials{
            @include md{
                grid-area: socials;
            }
            @include lg{
                text-align: right;
            }

            ul{
                display: flex;
                @include lg{
                    justify-content: flex-end;
                }
                li{
                    margin-right: 16px;
                    a{
                        color: var(--white);
                        font-size: rem-calc(30);
                    }
                }
            }
        }
    }
}