/* =============
    Buttons
============= */
.blueButton{
    background-color: var(--gatxblue);
    padding: 10px 16px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
    font-size: rem-calc(30);
    border: 2px solid var(--gatxblue);

    &:hover{
        background-color: white;
        color: var(--gatxblue);
    }
}
.whiteButton{
    background-color: white;
    padding: 10px 16px;
    color: var(--gatxblue);
    cursor: pointer;
    transition: 0.25s;
    font-size: rem-calc(30);
    border: 2px solid white;

    &:hover{
        background-color: var(--gatxblue);
        color: white;
    }
}