/* =============
    Buttons
============= */
.blueButton{
    background-color: var(--gatxblue);
    color: white;
    padding: 8px 16px;
    display: inline-block;
    border: none;
    font-weight: 600;
    font-size: 14px;
}
.whiteButton{
    background-color: white;
    color: var(--gatxblue);
    padding: 8px 16px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}